h1{
    font-size: 100px;
    background-color: aquamarine;
    text-align: center;
}

main{

font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

footer{

    text-align: center;
    margin-top: 50px;
    
}

h2{

    text-align: center;
}


    
