header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 25px;
}
footer{
    background-color: coral;
    color: black;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
/* formatar a tabela e form */
.container{
    width: 90%;
    max-width: 750px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    border: 1px solid #ddd;
    padding: 0 20px;
}
table{
    width: 100%;
    border-collapse: collapse;

}
td{
    width: 60%;
    vertical-align: top;
    padding: 0 15px;

}
label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    
    

    
}
button[type="submit"]{
    background-color: #28a752;
    
}
button[type="reset"]{
    background-color: #a32162;
}
button[type="submit"]:hover{
    background-color: #321;
}
button[type="reset"]:hover{
    background-color: #321;
}