header{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 18px;

}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container{
    max-width: 600px;
    background-color: #fff;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    
}
button[type="submit"]{
    background-color: #28a752;
}
button[type="reset"]{
    background-color: #a32162;
}